{% extends 'base.html' %}
{% load static %}
{% block content %}

        <ul>
            <li><a href="/wikis/all">Articles</a> </li>
            <li><a href="/wikis/create">Create Article</a> </li>

        </ul>




<li><a href="/mywikis/all">MY Articles</a> </li>
<h4>hi USERNAME: {{ user.username }}you are logged in</h4>
{% if wikis.count > 0 %}

{% for mywiki in mywikis %}
<div>
<h2><a href="/mywikis/get/{{ mywiki.id }}/">{{ mywiki.title }}</a></h2>
<p>{{ mywiki.body }}</p>
<p>{{ mywiki.likes }} people like this article</a></p>
</div>
{% endfor %}

{% else %}

<p>None to show !</p>
{% endif %}



{% endblock %}
